<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <configSections>
    <section name="TestConfiguration" type="FrameworkCore.Config.TestConfiguration, FrameworkCore" />
  </configSections>

  <TestConfiguration>
    <TestSettings>
      <TestSetting name="LOCAL | FIREFOX" aut="http://localhost/" browser-type="Firefox" log-path="LOGS\\"
                   connection-string="Data Source=LOCALHOST; Initial Catalog=Z34; Integrated Security=True"
                   debug-mode="True" remote-execution="False" remote-host="N/A" />

      <TestSetting name="REMOTE | FIREFOX" aut="http://localhost/" browser-type="Firefox" log-path="LOGS\\"
                   connection-string="Data Source=LOCALHOST; Initial Catalog=Z34; Integrated Security=True"
                   debug-mode="True" remote-execution="True" remote-host="localhost" />

      <TestSetting name="LOCAL | CHROME" aut="http://localhost/" browser-type="Chrome" log-path="LOGS\\"
                   connection-string="Data Source=LOCALHOST; Initial Catalog=Z34; Integrated Security=True"
                   debug-mode="True" remote-execution="False" remote-host="N/A" />

      <TestSetting name="REMOTE | CHROME" aut="http://localhost/" browser-type="Chrome" log-path="LOGS\\"
                   connection-string="Data Source=LOCALHOST; Initial Catalog=Z34; Integrated Security=True"
                   debug-mode="True" remote-execution="True" remote-host="localhost" />
    </TestSettings>
  </TestConfiguration>
</configuration>