<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <configSections>
    <section name="TestConfiguration" type="FrameworkCore.Config.TestConfiguration, FrameworkCore" />
  </configSections>

  <TestConfiguration>
    <TestSettings>
      <TestSetting name="FIREFOX" aut="http://localhost/" browser-type="Firefox" log-path="LOGS\\"
                   connection-string="Data Source=LOCALHOST; Initial Catalog=Z34; Integrated Security=True"
                   debug-mode="True" />

      <TestSetting name="CHROME" aut="http://localhost/" browser-type="Chrome" log-path="LOGS\\"
                   connection-string="Data Source=LOCALHOST; Initial Catalog=Z34; Integrated Security=True"
                   debug-mode="True" />
    </TestSettings>
  </TestConfiguration>
</configuration>